<form action="/upload" method="POST" enctype="multipart/form-data">
  <label for="profilePic">Select a img:</label>
  <input type="file" name="profilePic" id="profilePic">
  <button type="submit">Upload IMG</button>
</form>